.header {
    margin-top: 92px;
    padding: 0 24px;
    font-size: 18px;
    font-weight: 400;
    display: grid;
    border: 1px;
    grid-template-columns: 43.27% 13.46% 43.27%;
    grid-template-rows: 105px;
    align-items: center; 
}

.header__menu {
    padding-left: 26px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 35px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;    
}

.header__link_active {
    text-decoration: none  
}

.header__logo {
    width: 148px;
    height: 100%;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__address {
    padding-left: 185px;
    padding-right: 26px;
}

.address {
    display: flex;
    flex-direction: column;
    width: 99%;
    height: 98px;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
    position: absolute;
}

.cover {
    margin-top: 96px;
    min-height: 757px;
    color: white;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;    
}

.cover__title {
    width: 100%;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;
    line-height: 1;
    display: flex;
    flex-direction: column;
    border: 0px;
    padding-top: 170px;
    padding-bottom: 0px;
    gap: 25px;
}

.aligned-text {
    z-index: 1;
    letter-spacing: 0.3em;
}

.letter-spacing-extended {
     letter-spacing: 0.6em;
     z-index: 1;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.aligned-text_left {
    padding-left: 50px;
}

.aligned-text_center {
    padding-left: 336px;
  }

.aligned-text_right {
    padding-left: 635px;
}

.no-letter-spacing {
    letter-spacing: normal;
    z-index: 1;
}

.cover__description {
    display: flex;
    flex-direction: row;
    padding-top: 140px;
    padding-left: 78px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    text-transform: uppercase;
    word-spacing: 19px;
    font-size: 22px;
    font-weight: 400;
    z-index: 1;
}

.bet-button {
    min-width: 256px;
    min-height: 51px;
    border: 1px solid rgb(255, 255, 255);
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
}

.lots {
    margin-top: 179px;
    height: 692px;
    width: 1100px;
    padding-left: 24px;
}

.lots__heading {


    padding-bottom: 27px;
    font-size: 40px;
    font-weight: 700px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
}

.lots__card-list-item {
    list-style: none;
    flex-grow: 1
}

.card-link {
    color: white;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    min-height: 563px;

    font-size: 20px;
    font-weight: 400;
    position: relative;

    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

 
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    position: relative;
    padding: 51px 40px 0 40px;
    z-index: 1;  
}

.card__text {
    font-size: 20px;
    font-weight: 400;
    padding: 0 40px 48px 40px;
    vertical-align: bottom;
    position: relative;
    z-index: 1;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}


.lots__look-more-link {
    display: block;
    margin-top: 25px;
    padding-left: 40px;
    font-size: 20px;
    text-transform: lowercase;
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
 }

.about {
    width: 100%;
    margin-top: 146px;
    padding: 0 24px; 
    display: grid;
    grid-template-columns: 334px auto;
    border: 0px;   
}

.about__logo {
    margin-top: 35px;
    margin-left: 47px;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-image: url(../images/logo-white.svg);
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

.about__card {
    padding-top: 133px;
    display: flex;
    padding-left: 25px;
    padding-right: 5;
    flex-direction: column;
    justify-content: center;
}

.about__title {
    display: block;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__text {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2%;
    padding-bottom: 24px;
}

.about__text-padding {
    padding-bottom: 0;
    line-height: 120%;
}

.footer {
    margin-top: 180px;
    margin-bottom: 88px;
    padding: 0 50px;
    display: grid;
    border: 0px;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 98px;
    align-items: start;
    font-size: 18px;
}

.footer__address {
    max-width: 240px;
}

.footer__links-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    gap: 48px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}